Tools for Data Science

this file contains markdown related to introduction of the notebook

## Data science languages:
- Python
- R
- julia

## Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn

## Data Science Tools Table

| Tool          | Description                               |
|---------------|-------------------------------------------|
| Jupyter       | Interactive computing environment         |
| TensorFlow    | Open-source machine learning framework    |
| PyTorch       | Deep learning library                     |
| Tableau       | Data visualization tool                   |

## Arithmetic Expression Examples
In this section, we will explore examples of arithmetic expressions

In [3]:
#code for multiplying and adding of two numbers
a=10 #assigning a to 10
b=5  #assigning b to 5
print("multiplication:",a*b)#multiplying
print("addition:",a+b)#addition

multiplication: 50
addition: 15

In [7]:
#code for converting minutes to hours
minutes=int(input("Enter the minutes:"))
print("the minutes are converted into hours the output is:%.1f"%(minutes/60))

Enter the minutes:50
the minutes are converted into hours the output is:0.8

Objectives:

- Understand the basics of data science concepts and tools.
- Practice writing and executing Python code for simple calculations and data manipulations.
- Gain experience with data visualization techniques to present insights effectively.
- Develop critical thinking skills to analyze data and solve problems.
- Foster a strong foundation for further exploration in the data science field.

## Author name
Yaddalapalli Charan Kumar Naidu